* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: green;
}

.header {
    padding: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: yellow;
    color: #ffffff; 
}

.header h1 {
    display:inline-block;
    flex-wrap: wrap;
    font-size: 45px;
    color: green;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
.img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Face.jpg");
    background-size: cover;
    background-position: center;
}
.title {

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;   
}

.main-boxes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: greenyellow;
    color: black;
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.about me {
    display: flex;
    justify-content: space-between;
}
.main-boxes h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.footer h2 {
    font-size: 30px;
}

.footer nav ul {
    list-style: none;
}

@media screen and (max-width: 992px) {
    .header {
        background: lightgreen;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .main-boxes {
        background-color: burlywood;
        flex-direction: column;
    }
}